# Database
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_cZKLhPn1Bg4D@ep-hidden-queen-a4ld5opf-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Auth
BETTER_AUTH_SECRET=oBN1r8pbCsHg0wc6Yv/8CQ==NfNv3/zBrmnWa7NAmK5aLFyCpCkhyH9ia7Z6LOG5

# CORS
FRONTEND_URL=http://localhost:3000

# Server
HOST=0.0.0.0
PORT=8000
