# Better Auth
BETTER_AUTH_SECRET=oBN1r8pbCsHg0wc6Yv/8CQ==NfNv3/zBrmnWa7NAmK5aLFyCpCkhyH9ia7Z6LOG5
DATABASE_URL=postgresql://neondb_owner:npg_cZKLhPn1Bg4D@ep-hidden-queen-a4ld5opf-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# API
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000
